.bestSellers {
  font-family: var(--font-family-primary);
  max-width: 335px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: var(--color-background);
  transition: background-color var(--transition-params);

  @media screen and (min-width: 768px) {
    max-width: none;
    display: flex;
    flex-direction: column;
    max-width: 704px;
  }
  @media screen and (min-width: 1440px) {
    max-width: none;
    display: flex;
    flex-direction: column;
    max-width: 996px;
  }
}
.category-container {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
  }
  @media screen and (min-width: 1440px) {
    column-gap: 24px;
  }
}
.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  letter-spacing: -0.04em;

  color: var(--color-text-primary);
  transition: color var(--transition-params);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 52px;
  }
}
.section-title--highlight {
  color: var(--color-blue);
  transition: color var(--transition-params);
}
.category-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-grey-light);
  transition: color (--transition-params);

  @media screen and (min-width: 768px) {
    line-height: 24px;
    margin-bottom: 18px;
  }
}

.bestSellers__container {
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    max-width: none;
    display: flex;
    flex-direction: column;
    max-width: 704px;
  }
  @media screen and (min-width: 1440px) {
    max-width: none;
    display: flex;
    flex-direction: column;
    max-width: 996px;
  }
}
.bestseller-card {
  margin: 0;
  list-style: none;
  padding: 0;
  cursor: auto;

  @media screen and (min-width: 768px) {
    width: 218px;
    margin: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 180px;
    margin: 0;
  }
  &.--margin {
    margin-bottom: 40px;
  }

  &__category {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-secondary);
    transition: color var(--transition-params);

    @media screen and (min-width: 768px) {
      line-height: 24px;
    }
  }
  &__meta {
    margin-top: 14px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--color-text-primary);
    transition: color var(--transition-params);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__author {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: -0.04em;
    color: var(--color-grey-light);
    transition: color var(--transition-params);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__author:hover {
    text-shadow: 0px 4px 2px #b4afaf;
    transition: text-shadow var(--transition-params);
  }
  &__title:hover {
    text-shadow: #0000001f 0px 4px;
    transition: text-shadow var(--transition-params);
  }
}
.button {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  width: 124px;
  height: 46px;
  border: 2px solid var(--color-blue);
  background-color: var(--color-background);
  border-radius: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-text-primary);
  cursor: pointer;

  transition: 250ms var(--transition-timing-func);
  transition-property: background-color, color;

  &:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: color var(--transition-params);
  }
  @media screen and(min-width: 768px) {
    margin-top: 20px;
    margin-left: auto;
    padding: 0;
  }
}
.thumb {
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: text-shadow var(--transition-params);
  }
  &:hover &__overlay {
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: text-shadow var(--transition-params);
  }
  &__overlay {
    border-radius: 8px;
    position: absolute;
    bottom: 50%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 25%;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-yellow);
    /* backdrop-filter: blur(3px); */
    transition: transform, background-color var(--transition-params);
  }
  &__overlay-text {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(18 / 14);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--color-black);
    transition: color var(--transition-params);
  }
  &__image {
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 18px;
    cursor: pointer;

    @media screen and (min-width: 375px) and (max-width: 767px) {
      width: 335px;
      height: 485px;
    }

    @media screen and (min-width: 768px) {
      width: 218px;
      height: 316px;
      margin-top: 0;
    }

    @media screen and (min-width: 1440px) {
      width: 180px;
      height: 256px;
    }
  }
}
