.categories__list {
  width: 307px;
  height: 228px;
  background-attachment: scroll;
  overflow: scroll;
  margin-left: 24px;
  margin-top: 40px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 337px;
    height: 472px;
  }
  @media screen and (min-width: 1195px) {
    width: 356px;
    height: 472px;
  }
}

.categories__item {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.categories__link {
  text-decoration: none;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.02em;
  color: var(--color-category);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories__link:hover {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-category-active);
}

.categories__link-all {
  font-weight: 400;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories__link-all:hover {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-category-active);
}
