
.list {
  list-style: none;
}

.link {
  // display: block;
  text-decoration: none;
}
.align-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-header-background);
  border: 1.5px solid var(--color-header-border);
  border-radius: 0px 0px 8px 8px;
  height: 64px;
  position: sticky;
  top: 0px;
  z-index: 13;
  @media screen and (min-width: 768px) {
    z-index: 4;
    gap: 24px;
    height: 72px;
  }
  // @media screen and (min-width: 1440px) {
  //   width: 1440px;
  // }
}

.header-container {
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  // width: 86px;
  // height: 28px;
  fill: #686868;
}
.logo__link {
  width: 86px;
  height: 28px;
}

.nav-list {
  position: absolute;

  z-index: 20;
  top: 250px;
  left: 129px;

  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    gap: 16px;
    margin-left: 32px;
    align-items: center;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 99px;
  }
}

.nav-hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav-item__shopping-bag {
  height: 16px;
  width: 13px;
  fill: rgb(255, 255, 255);
  // position: absolute;
  // left: 115px;
  // bottom: 16px;
}

.nav-item:nth-child(1){
  @media screen and (max-width: 768px) {
      margin-bottom: 10px;
  }
}

.nav-item:nth-child(2) {
  display: flex;
  align-items: center;
}

.nav-link {
  // text-align: center;
  @media screen and (max-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #ffffff;
  }
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 36px;
  color: var(--color-text-primary);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-yellow);
  }
}

.nav-list__button {
  all: unset;
  display: flex;
  align-items: center;
  // justify-content: center;
  // gap: 4px;
}
.shopBtn {
  display: none;
}
.shopBtn--visible {
  display: flex;
}

.nav-link-current {
  color: #111111;
  background-color: var(--color-yellow);
  &.nav-item__shopping-bag {
    fill: #111111;
  }
}
// .shoppinglist {
//   display: flex;
//   align-items: center;
//   gap: 14px;
// }

.header-options {
  display: flex;
  gap: 14px;
  @media screen and(min-width:768px) {
    gap: 24px;
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  // margin: 0 5px;
  display: flex;
}

.switch__input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, var(--color-blue) 0%, #dcdcdc 100%);
  // box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border: 0.604701px solid var(--color-blue);
  transition: 0.4s;
}

.switch__slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  left: 1px;
  // top: 1px;
  bottom: 1.5px;
  // right: 1px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.switch__input:checked + .switch__slider {
  background: linear-gradient(180deg, var(--color-blue) 0%, #686868 100%);
  // box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.switch__input:checked + .switch__slider::before {
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1);

  transform: translateX(21px);
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
}

.switches {
  display: block;
  display: flex;
  align-items: center;
}

.button-menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 28px;
  height: 28px;
  background-color: var(--color-header);
  padding: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }


}
.burger-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  stroke: var(--color-header-border);
}
.burger-menu:hover{
  stroke: var(--color-category-active);
}


.login-btn {
  position: absolute;
  top: 75vh;
  left: 20px;

  z-index: 666;
  width: 118px;
  height: 48px;
  color: #111;
  letter-spacing: -0.04em;
  background: #fff url(../images/svg/arrow-narrow-right.svg) 82px no-repeat;
  border: 1.5px solid #111;
  border-radius: 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  
  // &::before {
    
  //     content: url(../images/svg/user.svg);
  //     width: 30px;
  //     height: 30px;
  //     padding: 7px;
  //     background-color: #cdcdcd;
  //     border-radius: 50%;
  //     margin-right: 10px;
  //   }
  @media screen and (min-width: 768px) {
    position: static;
    display: block;

    width: 184px;
    height: 45px;
    position: inherit;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: #4f2ee8;
    border: none;
    border-radius: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;

    
    &:hover {
      background-color: var(--color-yellow);
    }

    color: #ffffff;
  }
   
}

// .login-btn-out{
// position: absolute;
//     top: 85vh;
//     left: 20px;
  
//     z-index: 2;
//     width: 118px;

//     height: 48px;
//     color: #111;
//     letter-spacing: -0.04em;
//     background: #fff url(../images/svg/arrow-narrow-right.svg) 82px no-repeat;
//     border: 1.5px solid #111;
//     border-radius: 18px;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 18px;  
  
//     @media screen and (min-width: 768px) {
//       position: inherit;
//       display: flex;
//       justify-content: center;
//       align-items: center;
  
//       width: 45px;
//       height: 45px;
//       position: inherit;
//       border-radius: 50%;
//       color: #4f2ee8;
  
//       transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//       background: #4f2ee8 url(../images/svg/arrow-narrow-right.svg) 50% no-repeat;
  
//       &:hover {
//         background-color: var(--color-yellow);
  
//         color: var(--color-yellow);
//       }
//     }

// }

.sign-out{
  position: absolute;
    top: 85vh;
    left: 20px;
  
    z-index: 2;
    width: 118px;

    height: 48px;
    color: #111;
    letter-spacing: -0.04em;
    background: #fff url(../images/svg/arrow-narrow-right.svg) 82px no-repeat;
    border: 1.5px solid #111;
    border-radius: 18px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;  
  
    @media screen and (min-width: 768px) {
      position: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
  
      width: 45px;
      height: 45px;
      position: inherit;
      border-radius: 50%;
      color: #4f2ee8;
  
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      background: #4f2ee8 url(../images/svg/arrow-narrow-right.svg) 50% no-repeat;
  
      &:hover {
        background-color: var(--color-yellow);
  
        color: var(--color-yellow);
      }
    }
}

    // z-index: 2;
    // width: 118px;
    // // width: 48px;
    // height: 48px;
    // color: #111;
    // letter-spacing: -0.04em;
    // background: #fff url(../images/svg/arrow-narrow-right.svg) 82px no-repeat;
    // border: 1.5px solid #111;
    // border-radius: 18px;
    // font-size: 14px;
    // font-style: normal;
    // font-weight: 500;
    // line-height: 18px;
  

// .sign-out {
//   display: none;
// }
// .sign-out--visible{

//   display: block;
// }

// .login-btn-mobile {
//   @media screen and (max-width: 767px) {
//     display: block;
//     position: absolute;
//     top: 200px;
//   }
// }

.mobile-is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms var(--transition-timing-func);
  visibility: 250ms var(--transition-timing-func);
}

.mobile {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  height: 100%;
  
  background:
    url(../image/header/books-header2x.png),

     radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );

  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  
  opacity: 1;
  transition: all 3s;
  @media screen and (min-width: 768px) {
    display: none;
  }
}


