.main-container {
  // background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 40px;
  @media screen and(min-width: 768px) {
    gap: 100px;
  }
  @media screen and(min-width: 1440px) {
    flex-direction: row;
    gap: 40px;
  }
}
.main-container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  // padding-top: 40px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: start;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 80px;
  }
}
.hidden > section {
  @media screen and (max-width: 768px) {
    display: none;
    background-color: tomato;
  }
}
