h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;  
}

.no-scroll {
  overflow-y: none;
}

body{
    font-family: 'DM Sans';
    background-color: #D0D0D0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow-y: hidden;
}