

.shopping-list {
  // margin: 0 auto;
  display: flex;
flex-direction: column;
width: 100%;

  background-color: var(--color-background);

}
.shopping-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  letter-spacing: -0.04em;

  color: var(--color-text-primary);
  transition: color var(--transition-params);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 52px;
  }
}

.shopping-title--highlight {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--color-blue);
  letter-spacing: -0.04em;
  transition: color var(--transition-params);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 52px;
  }
}
.shopping-carg-list {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // width: 100vh;
  margin: 40px auto 0;
  width: 100%;
  
}

.shopping-carg {
  position: relative;
  box-sizing: border-box;

  margin-bottom: 20px;
  display: flex;
  // gap: 48px;
  isolation: isolate;

  background: #ffffff;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;


  background-color: var(--color-shop-card-background);
}

.shopping-card-book-info {
  padding-left: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }
}

.shopping-carg-image {
  width: 98px;
  height: 139px;
  left: 20px;
  top: 20px;

  border-radius: 8px;
}



.shopping-carg-book-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 4px;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--color-black);
}

.shopping-carg-book-categorie {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.03em;

  color: var(--color-grey-light);
}

.shopping-carg-book-description {
  padding-top: 14px;
}

.shopping-carg-book-description-block {
  height: 53px;
  
}

.card-delete {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 0;

  border: 0;
  border-radius: 50%;

  background: var(--color-blue);
}

.shopping-carg-book-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  letter-spacing: -0.04em;

  color: var(--color-black);
}

.shopping-carg-book-author {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  letter-spacing: -0.04em;

  color: --color-grey-light;
}
.shopping-carg-shops {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-card {
  display: flex;
  align-content: flex-end;
  padding-top: 35px;
  justify-content: space-between;
}

.shopping-card-shops {
  padding-bottom: 24px;
}

.shopping-list-emptypage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;

  margin: auto;
}

.shopping-list-emptypage p {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 244px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--color-shop-list-text);

  transition: color var(--transition-params);
  

  @media screen and (min-width: 768px) {
    font-size: 18px;
    width: 349px;
    height: 48px;
  }

  @media screen and (min-width: 1200px) {
  }
}
.shopping-list-emptypage img {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.shopping-emptypage-list {
  padding-top: 80px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
}

.card-container {
  display: flex;
  column-gap: 20px;
  height: 342px;
  flex-wrap: wrap;
  padding: 24px;

  @media screen and (min-width: 768px) {
    padding: 32px;
    display: none;
  }
}
.card-container__image {
  width: 98px;
  height: 157px;
  
}



.card-container__author {
  margin-top: 4px;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height, or 117% */
  letter-spacing: -0.04em;

  color: var(--color-grey-light);
}
.card-container__meta {
  width: 144px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-family: 'DM Sans';
  font-style: normal;
}
.meta__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  /* or 112% */
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-shop-list-text);
}
.meta__category {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height, or 117% */
  letter-spacing: 0.03em;

  color: var(--color-grey-light);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-container__book-data {
  display: flex;
  flex-direction: column;
  height: 108px;
  width: 138px;
  gap: 24px;
}
.card-container__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 138px;
  height: 30px;
}
.card-container__desc {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  /* or 129% */
  letter-spacing: -0.04em;

  color: var(--color-shop-list-text);
}

.card-container__image-conteiner {
  // border: 1px solid black;
  border-radius: 8px;
overflow: hidden;
}
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.card-container-nm {
  display: none;
  background-color: var(--color-shop-card-background);
  border-radius: 16px;
  
  @media screen and (min-width: 768px) {
    display: flex;
  column-gap: 20px;
  height: 213px;
  flex-wrap: wrap;
  padding: 24px;
  min-width: 703px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 996px;
  }
}

.margin-img{
  margin-top: -7px;
}

.card-container__div_image-nm {
  overflow: hidden;
  // border: 1px solid black;
  border-radius: 8px;
  max-height: 165px;
}

.card-container__image-nm {  

  @media screen and (min-width: 768px) {
    width: 116px;
height: 150px;
// border: 1px solid black;
// border-radius: 8px;
  }

  @media screen and (min-width: 1200px) {
    
  }
}
.card-container__author-nm {
  margin-top: 4px;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height, or 117% */
  letter-spacing: -0.04em;

  color: var(--color-grey-light);

  @media screen and (min-width: 768px) {
    
  }

  @media screen and (min-width: 1200px) {
    
  }

}
.card-container__meta-nm {
  width: 144px;
  display: flex;
  flex-direction: column;
  // gap: 4px;

  font-family: 'DM Sans';
  font-style: normal;

  @media screen and (min-width: 768px) {    
    min-width: 508px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 808px;
  }

}
.meta__title-nm {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  /* or 112% */
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-shop-list-text);
}
.meta__category-nm {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height, or 117% */
  letter-spacing: 0.03em;

  color: var(--color-grey-light);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-container__book-data-nm {
  display: flex;
  flex-direction: column;
  height: 108px;
  width: 138px;
  gap: 24px;

  @media screen and (min-width: 768px) {    
    min-width: 508px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 808px;
  }


}
.card-container__icons-nm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 138px;
  height: 30px;
}
.card-container__desc-nm {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  /* or 129% */
  letter-spacing: -0.04em;

  color: var(--color-shop-list-text);

  @media screen and (min-width: 768px) {    
    height: 53px;
    margin-top: 14px;
  }

  @media screen and (min-width: 1200px) {
    
  }
}

.card-container__futer-nm {
display: flex;
align-items: flex-end;
justify-content: space-between;

@media screen and (min-width: 768px) {    
  
  margin-top: 34px;
}

@media screen and (min-width: 1200px) {
  
}

}