// .shopping-list-conteiner {
//   margin-left: auto;
//   margin-right: auto;
//   // width: 1200px;
//   padding: 0 15px;

//   @media screen and (min-width: 480px) {
//     max-width: 480px;
//   }

//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//   }

//   @media screen and (min-width: 1440px) {
//     max-width: 1200px;
//   }
// }

.shopping-list {
  margin: 0 auto;
  // max-width: 100vh;
  // max-height: 100vh;
  // padding-top: 40px;
  // margin-top: 40px;
  background-color: var(--color-background);

  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-direction: column;
  // }
  // @media screen and (min-width: 1440px) {
  //   display: flex;
  //   flex-direction: column;
  //   // max-width: 996px;
  // }
}
.shopping-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  letter-spacing: -0.04em;

  color: var(--color-text-primary);
  transition: color var(--transition-params);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 52px;
  }
}

.shopping-title--highlight {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--color-blue);
  letter-spacing: -0.04em;
  transition: color var(--transition-params);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 52px;
  }
}
.shopping-carg-list {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  // width: 100vh;
  margin-top: 40px;
}

.shopping-carg {
  position: relative;
  box-sizing: border-box;

  margin-bottom: 20px;
  display: flex;
  // gap: 48px;
  isolation: isolate;

  background: #ffffff;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}

.shopping-card-book-info {
  padding-left: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }
}

.shopping-carg-image {
  width: 98px;
  height: 139px;
  left: 20px;
  top: 20px;

  border-radius: 8px;
}

// .shopping-carg-book-title-categorie {

// }

// .info-block {
//   max-width: 335px;
//   @media screen and (min-width: 768px) {
//     max-width: 564px;
//   }

//   @media screen and (min-width: 1200px) {
//     max-width: 996px;
//   }
// }

.shopping-carg-book-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 4px;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #111111;
}

.shopping-carg-book-categorie {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.03em;

  color: #b4afaf;
}

.shopping-carg-book-description {
  padding-top: 14px;
}

.shopping-carg-book-description-block {
  height: 53px;
  // min-width: 295px;

  // @media screen and (min-width: 768px) {
  //   min-width: 508px;
  // }

  // @media screen and (min-width: 1200px) {
  //   min-width: 808px;
  // }
}

.card-delete {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 0;

  border: 0;
  border-radius: 50%;

  background: var(--color-blue);
}

.shopping-carg-book-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  letter-spacing: -0.04em;

  color: #111111;
}

.shopping-carg-book-author {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  letter-spacing: -0.04em;

  color: #b4afaf;
}
.shopping-carg-shops {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-card {
  display: flex;
  align-content: flex-end;
  padding-top: 35px;
  justify-content: space-between;
}

.shopping-card-shops {
  padding-bottom: 24px;
}

.shopping-list-emptypage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;

  margin: auto;
}

.shopping-list-emptypage p {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 244px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: center;
  letter-spacing: -0.02em;

  color: rgba(0, 0, 0, 0.6);

  transition: color var(--transition-params);
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    width: 349px;
    height: 48px;
  }

  @media screen and (min-width: 1200px) {
  }
}
.shopping-list-emptypage img {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

.shopping-emptypage-list {
  padding-top: 80px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
}

.card-container {
  display: flex;
  column-gap: 20px;
  height: 342px;
  flex-wrap: wrap;
  padding: 24px;

  @media screen and (min-width: 768px) {
    padding: 32px;
  }
}
.card-container__image {
  width: 98px;
  height: 157px;
}
.card-container__author {
  margin-top: 4px;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height, or 117% */
  letter-spacing: -0.04em;

  color: #b4afaf;
}
.card-container__meta {
  width: 144px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-family: 'DM Sans';
  font-style: normal;
}
.meta__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  /* or 112% */
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.meta__category {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height, or 117% */
  letter-spacing: 0.03em;

  color: #b4afaf;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-container__book-data {
  display: flex;
  flex-direction: column;
  height: 108px;
  width: 138px;
  gap: 24px;
}
.card-container__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 138px;
  height: 30px;
}
.card-container__desc {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  /* or 129% */
  letter-spacing: -0.04em;

  color: #111111;
}
