
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.modal__button-x {
  position: absolute;
  top: 14px;
  right: 14px;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-background);
  border: 0;

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
  }
}

.modal__item {
  display: inline-block;
  stroke-width: 0;
  stroke: var(--color-label-input);
  fill: currentColor;

  transition: opacity 250ms var(--transition-timing-func),
            visibility 250ms var(--transition-timing-func);

  &:focus,
  &:hover {
    stroke: var(--color-category-active);
  }
}

.backdrop-start {
  position: fixed;
  top: 0;
  z-index: 5;

  width: 100%;
  height: 100%;
  background-color: var(--color-category-active);
  overflow: scroll;

  transition: opacity 250ms var(--transition-timing-func);
    visibility: 250ms var(--transition-timing-func);

  &.is-hidden-start {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal-start {
  position: absolute;
  width: 335px;
  height: 384px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid var(--color-label-input);
  background-color: var(--color-background);
  border-radius: 18px;

  transition: opacity 250ms var(--transition-timing-func),
      visibility 250ms var(--transition-timing-func);

  @media screen and (min-width: 768px) {
    min-width: 579px;
    height: 516px;
  }

  .backdrop-start.is-hidden-start & {
    opacity: 0;
    transform: scale(0.75);
  }
}

.modal-form__group {
  padding: 40px 20px;

  @media screen and (min-width: 768px) {
    padding: 80px 40px 40px 40px;
  }
}

.modal-form__wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}

.modal-form__label-name {
  position: absolute;
  top: 16px;
  left: 24px;
  height: 18px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--color-label-input);

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 5;

  @media screen and (min-width: 768px) {
    top: 20px;
    left: 40px;
    height: 24px;

    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.modal-form__field-input {
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 173px 16px 24px;
  gap: 10px;
  margin-bottom: 24px;

  width: 295px;
  height: 50px;

  color: var(--color-label-input);
  background-color: var(--color-background);
  border: 2px solid var(--color-label-input);
  border-radius: 40px;

  flex: none;
  order: 0;
  flex-grow: 0;

  @media screen and (min-width: 768px) {
    width: 499px;
    height: 64px;
    margin-bottom: 28px;
    padding: 20px 173px 20px 40px;
  }

  &:hover,
  &:focus {
    border: 2px solid var(--color-category-active);
  }
}

.modal-form__group--input {
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 253px;
  transform: translateY(-50%);
  stroke: var(--color-label-input);
  // stroke: var(--color-background);
  fill: var(--color-background);

  display: inline-block;
  stroke-width: 0;

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 439px;
  }
}

.modal-form__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 116px;
  gap: 10px;
  margin-bottom: 14px;

  width: 294px;
  height: 50px;

  background: var(--color-label-input);
  border-radius: 40px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 16);
  width: auto;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--color-text-btn-modal);

  flex: none;
  order: 0;
  flex-grow: 0;

  @media screen and (min-width: 768px) {
    padding: 20px 215px;
    margin-bottom: 20px;
    width: 499px;
    height: 64px;
    font-size: 17px;
    line-height: 1.33;
  }

  &:hover,
  &:focus {
    background: var(--color-category-active);
  }
}

.modal-form__link {
  gap: 20px;
  height: 18px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: var(--color-category-active);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-form__conteiner {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-form__link {
  width: 60px;
  height: 18px;

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);

  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: var(--color-category-active);

  flex: none;
  order: 0;
  flex-grow: 0;

  @media screen and (min-width: 768px) {
    width: 69px;
    height: 24px;

    font-size: 18px;
    line-height: calc(24 / 18);
  }
}
