:root {
  --dark-black: #111111;
  --light-black: #202024;
  --violette: #4f2ee8;
  --yellow: #eac645;
  --white: #ffffff;
  --gray: #b4afaf;

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
