:root {
  --dark-black: #111111;
  --light-black: #202024;
  --violette: #4F2EE8;
  --yellow: #EAC645;
  --white: #FFFFFF;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

:root {
  --light-grey: #F6F6F6;
  --dark-white: #F3F3F3;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.modal__button {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--dark-black);
}
@media screen and (min-width: 768px) {
  .modal__button {
    top: 24px;
    right: 24px;
  }
}
.modal__button:focus, .modal__button:hover {
  fill: var(--violette);
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--violette);
  overflow: scroll;
  transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-start {
  position: absolute;
  width: 335px;
  height: 384px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--dark-black);
  background-color: var(--light-grey);
  border-radius: 18px;
  transition: transform 250ms var(--transition-timing-function), opacity 250ms var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .modal-start {
    min-width: 579px;
    height: 516px;
  }
}
.backdrop.is-hidden .modal-start {
  opacity: 0;
  transform: scale(0.75);
}

.modal__item {
  fill: var(--dark-black);
  transition: fill 250ms var(--transition-timing-function);
}
.modal__item:hover, .modal__item:focus {
  fill: var(--violette);
}

.modal-form__group {
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .modal-form__group {
    padding: 80px 40px 40px 40px;
  }
}

.modal-form__wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}

.modal-form__label-name {
  position: absolute;
  top: 16px;
  left: 24px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--dark-black);
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .modal-form__label-name {
    top: 20px;
    left: 40px;
    height: 24px;
    font-size: 18px;
    line-height: 1.3333333333;
    color: var(--dark-black);
  }
}

.modal-form__field-input {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 173px 16px 24px;
  gap: 10px;
  margin-bottom: 24px;
  width: 295px;
  height: 50px;
  background-color: var(--light-grey);
  border: 2px solid var(--dark-black);
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .modal-form__field-input {
    width: 499px;
    height: 64px;
    margin-bottom: 28px;
    padding: 20px 173px 20px 40px;
  }
}
.modal-form__field-input:hover, .modal-form__field-input:focus {
  border: 2px solid var(--violette);
}

@media screen and (min-width: 768px) {
  .modal-form__group--input {
    margin-bottom: 40px;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 253px;
  transform: translateY(-50%);
  fill: var(--dark-black);
}
@media screen and (min-width: 768px) {
  .modal-form__icon {
    top: 50%;
    left: 439px;
  }
}

.modal-form__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 116px;
  gap: 10px;
  margin-bottom: 14px;
  width: 294px;
  height: 50px;
  background: var(--dark-black);
  border-radius: 40px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.125;
  width: auto;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--dark-white);
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .modal-form__btn {
    padding: 20px 215px;
    margin-bottom: 20px;
    width: 499px;
    height: 64px;
    font-size: 17px;
    line-height: 1.33;
  }
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background: var(--violette);
}

.modal-form__link {
  gap: 20px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--violette);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-form__conteiner {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-form__link {
  width: 60px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--violette);
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .modal-form__link {
    width: 69px;
    height: 24px;
    font-size: 18px;
    line-height: 1.3333333333;
  }
}

.modal-form__link .sing-up {
  width: 54px;
}

.modal-form__link .sing-in {
  width: 50px;
}

.foundation {
  padding: 24px 40px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1019607843);
  border-radius: 16px;
  width: 335px;
}
@media screen and (min-width: 1440px) {
  .foundation {
    width: 400px;
  }
}

.foundation__title {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.foundation__btn {
  display: block;
  margin: 0 auto;
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  border: none;
  border-radius: 100%;
  transform: rotate(90deg);
}

.foundation__list {
  list-style: none;
}

.foundation__item {
  margin-bottom: 20px;
}

.foundation__link {
  text-decoration: none;
  color: black;
}

.foundation__hidden {
  display: none;
}

.foundation__img {
  height: 55px;
  width: 149px;
}

.foundation__count {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.categories__list {
  width: 307px;
  height: 228px;
  background-attachment: scroll;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .categories__list {
    width: 337px;
    height: 472px;
  }
}
@media screen and (min-width: 1195px) {
  .categories__list {
    width: 356px;
    height: 472px;
  }
}

.categories__item {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .categories__item {
    margin-bottom: 32px;
  }
}

.categories__link {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3333333333 px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  transition: all 250ms var(--transition-timing-function);
}

.categories__link:hover {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--violette);
}

.categories__link-all {
  font-weight: 400;
  transition: all 250ms var(--transition-timing-function);
}

.categories__link-all:hover {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--violette);
}/*# sourceMappingURL=index.css.map */