:root {
  --dark-black: #111111;
  --light-black: #202024;
  --violette: #4F2EE8;
  --yellow: #EAC645;
  --white: #FFFFFF;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

:root {
  --light-grey: #F6F6F6;
  --dark-white: #F3F3F3;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.modal__button {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--dark-black);
}
@media screen and (min-width: 768px) {
  .modal__button {
    top: 24px;
    right: 24px;
  }
}
.modal__button:focus, .modal__button:hover {
  fill: var(--violette);
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--violette);
  overflow: scroll;
  transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-start {
  position: absolute;
  width: 335px;
  height: 384px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--dark-black);
  background-color: var(--light-grey);
  border-radius: 18px;
  transition: transform 250ms var(--transition-timing-function), opacity 250ms var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .modal-start {
    min-width: 579px;
    height: 516px;
  }
}
.backdrop.is-hidden .modal-start {
  opacity: 0;
  transform: scale(0.75);
}

.modal__item {
  fill: var(--dark-black);
  transition: fill 250ms var(--transition-timing-function);
}
.modal__item:hover, .modal__item:focus {
  fill: var(--violette);
}

.modal-form__group {
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .modal-form__group {
    padding: 80px 40px 40px 40px;
  }
}

.modal-form__wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}

.modal-form__label-name {
  position: absolute;
  top: 16px;
  left: 24px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--dark-black);
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .modal-form__label-name {
    top: 20px;
    left: 40px;
    height: 24px;
    font-size: 18px;
    line-height: 1.3333333333;
    color: var(--dark-black);
  }
}

.modal-form__field-input {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 173px 16px 24px;
  gap: 10px;
  margin-bottom: 24px;
  width: 295px;
  height: 50px;
  background-color: var(--light-grey);
  border: 2px solid var(--dark-black);
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .modal-form__field-input {
    width: 499px;
    height: 64px;
    margin-bottom: 28px;
    padding: 20px 173px 20px 40px;
  }
}
.modal-form__field-input:hover, .modal-form__field-input:focus {
  border: 2px solid var(--violette);
}

@media screen and (min-width: 768px) {
  .modal-form__group--input {
    margin-bottom: 40px;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 253px;
  transform: translateY(-50%);
  fill: var(--dark-black);
}
@media screen and (min-width: 768px) {
  .modal-form__icon {
    top: 50%;
    left: 439px;
  }
}

.modal-form__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 116px;
  gap: 10px;
  margin-bottom: 14px;
  width: 294px;
  height: 50px;
  background: var(--dark-black);
  border-radius: 40px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.125;
  width: auto;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--dark-white);
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .modal-form__btn {
    padding: 20px 215px;
    margin-bottom: 20px;
    width: 499px;
    height: 64px;
    font-size: 17px;
    line-height: 1.33;
  }
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background: var(--violette);
}

.modal-form__link {
  gap: 20px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--violette);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-form__conteiner {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-form__link {
  width: 60px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--violette);
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .modal-form__link {
    width: 69px;
    height: 24px;
    font-size: 18px;
    line-height: 1.3333333333;
  }
}

.modal-form__link .sing-up {
  width: 54px;
}

.modal-form__link .sing-in {
  width: 50px;
}

.foundation {
  padding: 24px 40px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1019607843);
  border-radius: 16px;
  width: 335px;
}
@media screen and (min-width: 1440px) {
  .foundation {
    width: 400px;
  }
}

.foundation__title {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.foundation__title::after {
  content: "";
  display: inline-block;
  margin: auto 0 auto 12px;
  vertical-align: middle;
  width: 20px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../image/founds/gerb.svg.svg);
}

.foundation__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  border: none;
  border-radius: 100%;
  transform: rotate(90deg);
}

.foundation__list {
  list-style: none;
}

.foundation__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.foundation__link {
  text-decoration: none;
  color: black;
}

.foundation__hidden {
  display: none;
}

.foundation__count {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-right: 16px;
}

.btnLoadMore__icon {
  height: 10px;
  width: 22px;
  transform: rotate(90deg);
  fill: #4F2EE8;
}

.categories__list {
  width: 307px;
  height: 228px;
  background-attachment: scroll;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .categories__list {
    width: 337px;
    height: 472px;
  }
}
@media screen and (min-width: 1195px) {
  .categories__list {
    width: 356px;
    height: 472px;
  }
}

.categories__item {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .categories__item {
    margin-bottom: 32px;
  }
}

.categories__link {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3333333333 px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  transition: all 250ms var(--transition-timing-function);
}

.categories__link:hover {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--violette);
}

.categories__link-all {
  font-weight: 400;
  transition: all 250ms var(--transition-timing-function);
}

.categories__link-all:hover {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--violette);
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.header {
  background-color: #FFFFFF;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  position: relative;
  z-index: 2;
}

.mobile.mobile-is-hidden {
  display: none;
}

.header-container {
  display: flex;
  padding: 18px 20px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding: 14px 32px;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
}

.logo-icon {
  width: 25px;
  height: 25px;
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 16px;
    margin-left: 32px;
    align-items: center;
  }
}

.nav-link {
  display: block;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 36px;
  color: #111111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  background-color: #EAC645;
}

.nav-link-current {
  background-color: #EAC645;
}

.header-options {
  display: flex;
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  margin: 0 5px;
  display: flex;
}

.switch_input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
  border: 0.604701px solid #4F2EE8;
  transition: 0.4s;
}

.switch_slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 1px;
  bottom: 1.5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
  transition: 0.4s;
}

.switch_input:checked + .switch_slider {
  background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
}

.switch_input:checked + .switch_slider::before {
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
  transform: translateX(21px);
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
}

.switches {
  display: block;
  display: flex;
  align-items: center;
}

.button-menu-open {
  padding: 0;
  margin-left: 14px;
  margin-right: auto;
  border: none;
  background-color: #EAC645;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .button-menu-open {
    display: none;
  }
}

.login-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .login-btn {
    display: flex;
    width: 184px;
    height: 48px;
    margin-left: 24px;
    padding: 14px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4F2EE8;
    border: 1.5px solid #111111;
    border-radius: 18px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: #FFFFFF;
  }
  .login-btn:hover, .login-btn:focus {
    background-color: #202024;
  }
}

.mobile {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mobile-menu-close-btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAC645;
  width: 16px;
  height: 16px;
}

.login-mob-btn {
  display: flex;
  width: 184px;
  height: 48px;
  margin-top: 40px;
  margin-left: 20px;
  padding: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #4F2EE8;
  border: 1.5px solid #111111;
  border-radius: 18px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.login-mob-btn:hover, .login-mob-btn:focus {
  background-color: #202024;
}

.category-container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }
}

.bestseller-title {
  margin-top: 40px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height, or 119% */
  letter-spacing: -0.04em;
  color: #111111;
}

.bestseller-title--highlight {
  color: rgb(79, 46, 232);
}

.bestSellers {
  max-width: 335px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .bestSellers {
    max-width: none;
    display: flex;
    flex-direction: column;
    max-width: 704px;
  }
}

@media screen and (min-width: 768px) {
  .bestSellers__container {
    max-width: none;
    display: flex;
    flex-direction: column;
    max-width: 704px;
  }
}

.category-title {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
}

.shop-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
  cursor: auto;
}
@media screen and (min-width: 768px) {
  .shop-card {
    width: 218px;
    margin: 0;
  }
}

.image-block__image {
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 18px;
  cursor: pointer;
  transition: box-shadow 250ms ease-in-out;
  transition-property: box-shadow, transform;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .image-block__image {
    width: 335px;
    height: 485px;
  }
}
@media screen and (min-width: 768px) {
  .image-block__image {
    width: 218px;
    height: 316px;
    margin-top: 0;
  }
}

.image-block__image:hover {
  box-shadow: 1px 1px 2px rgb(79, 46, 232);
  transform: scale(1.005);
}

.shop-card__meta {
  margin-top: 14px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
}

.shop-card__title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
}

.shop-card__author {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  letter-spacing: -0.04em;
  color: #b4afaf;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow-y: none;
}

body {
  --bkg-color: #D0D0D0;
}

body.dark-theme {
  --bkg-color: #202024;
}

body {
  background: var(--bkg-color);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow-y: hidden;
}

.main-container {
  display: flex;
}/*# sourceMappingURL=index.css.map */