<header class="header">

    <div class="container header-container">

    <!-- <div class="header-container"> -->

        <nav class="header-navigation">
            <a href="index.html" class="logo link" lang="en">
            <svg class="logo__link"><use xlink:href="./image/header/symbol-defs.svg#icon-logo-white"></use></svg>
            </a>
            <ul class="nav-list list nav-hidden">
                <li class="nav-item">
                    <button class=" nav-list__button">
                        <a href="./index.html" class="nav-link link" data-href="index">Home</a> 
                    </button>
                </li>
                <li class="nav-item">
                    <button class=" nav-list__button ">
                        <a href="./shoppinglist.html" class="nav-link shoppinglist" data-href="shoppinglist">
                        Shopping list 
                        <svg class="nav-item__shopping-bag"><use href="./images/svg/symbol-defs.svg#icon-bag"></use></svg>
                    </a>
                    </button>
                </li>
            </ul>
        </nav>
        <div class="header-options">
            <div class="switches">
                <label id="switch" class="switch">
                    <input type="checkbox" class="switch__input" id="slider"/>
                    <span class="switch__slider"></span>
                </label>
            </div>
            <button type="button" class="button button-menu-open" data-menu-open>

                <!-- <svg class="nav-item__shopping-bag"><use href="./images/svg/burger.svg"></use></svg> -->
                <!-- <svg class="button__meny-open-icon" width="54" height="36"> -->
                    <!-- <use href="./images/icons.svg#icon-sandwich"></use> -->
                </svg>
            </button>

            <button type="button" class="login-btn nav-hidden" data-modal-start-open--sing-up data-modal-start-open>Sign up</button>
            <!-- <button type="button" class="login-btn sign-out">Sign out</button> -->

            <!-- <button type="button" class="log-out-btn nav-hidden"> 
                Log out
                <svg class="nav-item__shopping-bag"><use href="./images/svg/burger.svg"></use></svg>
            </button> -->

                <!-- <svg class="btn-menu" width="28px" height="28px">
                    <use href="./images/svg/symbol-defs.svg#icon-menu"></use>
                </svg>
            </button> -->

        </div>
    </div>
     <!-- <button type="button" class="login-btn login-btn-mobile" data-modal-start data-modal-start-open--sing-up>Sign up</button> -->
     <button type="button" class="login-btn sign-out">Sign out</button>
     <script type="module" src="./js/current-page.js"></script>
</header>
    <div class="mobile mobile-is-hidden" data-menu data-menu-open data-menu-close>
        <div class="mobile-container">

            
        <!-- <div class="header header-container">
            <a href="index.html" class="logo link" lang="en"
            >BOOK
            </a>
             <button type="button" class="mobile-menu-close-btn" data-menu-close>
            <svg class="mobile-menu-close-icon" width="36" height="36">
                <use href="./images/icons.svg#icon-Main-menu-exit"></use> 
            </svg> 
            </button>
        </div> -->

        <div class="mobile-meny">
             
            <!-- <button type="button" class="login-mob-btn " data-modal-start-open--sing-up data-modal-start-open>Sign up <svg class="login-mob-icon" width="20" height="20">
                <use ></use></svg>
            </button> -->
            <!-- <ul class="mobile-list list">
            <li class="mobile-item">
                <a href="index.html" class="mobile-link nav-link link">Home</a>
            </li>
            <li class="mobile-item">
                <a href="" class="mobile-link nav-linklink">Shopping list <svg class="" width="16" height="12">
                <use ></use></svg</a>
            </li>
            </ul> -->
        </div>
        </div>
    </div>
    <script type="module" src="./js/current-page.js"></script>
</header>

        </div>
    </div>

