<header class="header">
    <div class="container header-container">

        <nav class="header-navigation">
            <a href="index.html" class="logo link" lang="en"
            >BOOK</a>
            <ul class="nav-list list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link link">Home</a>
                </li>
                <li class="nav-item">Shopping list
                    <!-- <a href="shoppinglist.html" class="nav-link">Shopping list <svg class="" width="16" height="12">
                <use href="./images/icons/icons.svg#icon-mail"></use></svg</a> -->
                </li>
            </ul>
        </nav>

        <div class="header-options">
            <div class="switches">
                <label class="switch">
                    <input type="checkbox" class="switch_input" />
                    <span class="switch_slider"></span>
                </label>
            </div>
            
            <button type="button" class="button button-menu-open" data-menu-open>
                <!-- <svg class="button__meny-open-icon" width="54" height="36"> -->
                    <!-- <use href="./images/icons.svg#icon-sandwich"></use> -->
                </svg>
            </button>
        </div>
        
            
            


    </div>

    <div class="mobile is-hiddden" data-menu>
        <div class="mobile-container">
        <div class="mobile-meny-top header-container">
            <a href="index.html" class="logo link" lang="en"
            >BOOK
            </a>
            <button type="button" class="mobile-menu-close-btn" data-menu-close>
            <svg class="mobile-menu-close-icon" width="36" height="36">
                <!-- <use href="./images/icons.svg#icon-Main-menu-exit"></use> -->
            </svg>
            </button>
            <!-- <a href="./accessories.html" class="header__shop-now-btn">Shop now</a> -->
        </div>

        <div class="mobile-meny-bottom">
            <ul class="mobile-list list">
            <li class="mobile-item">
                <a href="index.html" class="mobile-link link">Home</a>
            </li>
            <li class="mobile-item">
                <!-- <a href="contact.html" class="nav-link">Shopping list <svg class="mail-icon" width="16" height="12">
                    <use href="./images/icons/icons.svg#icon-mail"></use></svg</a> -->
            </li>
            </ul>
        </div>
        </div>
    </div>
</header>