<div id="modal" class="modals">
  <div id="book" class="modals-content">
    <button class="modal-btn" data-modal-close>
      <svg class="modal-icon" width="100%" height="100%">
        <use href="./images/sprite.svg#icon-mobile-close"></use>
      </svg>
    </button>
    <div class="flex">      
      <ul id="bookInfo"></ul>
      <div>
        <div id="bookInform" class="width">
        
        </div>
        <div id="bookInfoUrl" class="book-url"></div>
      </div>
    </div>
    <div class="btn_wrapper">
      <button class="pop__btn">Add to shopping list</button>
    </div>
    <p class="pop-text"></p>
  </div>
</div>