<div class="backdrop-start backdrop is-hidden-start" data-modal-start>
  <div class="modal-start">
    <button class="modal__button-x" data-modal-start-close>
      <svg class="modal__item" width="20px" height="20px">
        <!-- <use xlink:href="#icon-close"></use>
       <path stroke="#111" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M21 7 7 21M7 7l14 14"/> -->
        <use href="./images/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <form>
      <div class="modal-form__group">
        <div class="modal-form__group--input">
          <div class="modal-form__wrapper">
            <label class="modal-form__label-name" for="user_person">NAME</label>
            <input class="modal-form__field-input" type="text" name="person" id="user_person"
              oninvalid="this.setCustomValidity('Please enter your name')" onchange="this.setCustomValidity('')"
              required>
          </div>

          <div class="modal-form__wrapper">
            <label class="modal-form__label-name" for="user_email">EMAIL</label>
            <input class="modal-form__field-input" type="email" name="email" id="user_email"
              oninvalid="this.setCustomValidity('Please enter a valid email')" onchange="this.setCustomValidity('')"
              required>
            <svg class="modal-form__icon .modal-form__icon" width="28px" height="28px">
              <!-- <use xlink:href="#icon-mail"></use> -->
              <!-- <use href="./images/svg/Icon-mail.svg"></use> -->
              <path stroke="#111" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m24.084 18-7.75-7m-6.667 0-7.75 7M1.333 5.167l9.526 6.668c.772.54 1.157.81 1.577.914.37.093.758.093 1.129 0 .419-.104.805-.374 1.576-.914l9.526-6.668M6.933 20.333h12.134c1.96 0 2.94 0 3.689-.381a3.5 3.5 0 0 0 1.53-1.53c.38-.748.38-1.729.38-3.689V7.267c0-1.96 0-2.94-.38-3.69a3.5 3.5 0 0 0-1.53-1.529c-.749-.381-1.729-.381-3.69-.381H6.935c-1.96 0-2.94 0-3.69.381a3.5 3.5 0 0 0-1.529 1.53c-.382.748-.382 1.728-.382 3.689v7.466c0 1.96 0 2.94.382 3.69a3.5 3.5 0 0 0 1.53 1.529c.748.381 1.728.381 3.689.381Z" />
            </svg>
          </div>

          <div class="modal-form__wrapper">
            <label class="modal-form__label-name" for="user_password">PASSWORD</label>
            <input class="modal-form__field-input" type="password" name="password" id="user_password" minlength="5"
              maxlength="12"
              oninvalid="this.setCustomValidity('Please enter your password. Enter a password between 5 and 12 characters long')"
              onchange="this.setCustomValidity('')" required>
            <svg class="modal-form__icon" width="28px" height="28px">
              <!-- <use xlink:href="#icon-lock"></use> -->
              <!-- <use href="./images/svg/icon-lock.svg"></use> -->
              <path stroke="#111" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17.833 10.833v-3.5a5.833 5.833 0 1 0-11.666 0v3.5M7.1 22.5h9.8c1.96 0 2.94 0 3.689-.381a3.5 3.5 0 0 0 1.53-1.53c.381-.749.381-1.729.381-3.689v-.467c0-1.96 0-2.94-.381-3.689a3.5 3.5 0 0 0-1.53-1.53c-.749-.38-1.729-.38-3.689-.38H7.1c-1.96 0-2.94 0-3.689.38a3.5 3.5 0 0 0-1.53 1.53c-.381.75-.381 1.73-.381 3.69v.466c0 1.96 0 2.94.381 3.689a3.5 3.5 0 0 0 1.53 1.53c.749.381 1.729.381 3.689.381Z" />
            </svg>
          </div>
        </div>

        <button class="modal-form__btn" type="submit">SIGN UP</button>

        <!-- Добавить ссылку -->
        <div class="modal-form__conteiner">
          <a class="modal-form__link" href="" rel="noopener noreferrer" aria-label="link sing up">SIGN UP</a>
          <a class="modal-form__link" href="" rel="noopener noreferrer" aria-label="link sing in">SIGN IN</a>
        </div>
      </div>
    </form>
  </div>
</div>
